In [ ]:
1 in [1,2,3]

In [ ]:
4 not in [1,2,3]

In [ ]:
a = 1

In [ ]:
if a == 1:
    pass

In [ ]:
if a == 1: print("a는 1")

In [ ]:
a = 0
if a == 1: print("a는 1")
print("good bye")

In [ ]:
treeHit = 1
while treeHit <= 10:
    print("나무를 " + str(treeHit)+ "번 찍었습니다.")
    if treeHit == 10: print("나무 넘어갑니다")
    treeHit += 1 #treeHit = treeHit + 1

In [ ]:
a = input("정수를 입력하세요")
print(a)

In [ ]:
a = input("정수를 입력하세요")
a = int(a) + 1
print(a)

In [ ]:
list_a = []
num = 0
while num < 4 :
    receive = input("온도를 입력하세요: ")
    int(receive)
    list_a.append(receive)
    num += 1
print(list_a)

In [ ]:
list_a = []
num = 1
print("온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요")
while True :
    receive = input("온도를 입력하세요: ")
    receive = int(receive)
    if receive == -500:
        break
    list_a.append(receive)
    num += 1

print(list_a)

In [ ]:
list_a = []
print("온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요")
while True :
    receive = input("온도를 입력하세요: ")
    receive = int(receive)
    if receive == -500:break
    if receive > 50 or receive < -40: continue
    list_a.append(receive)
print(list_a)

In [ ]:
a = range(10)
print(a)

In [ ]:
for i in range(10):
    print(i, end=" ")

In [ ]:
for i in range(5,10):
    print(i,end=" ")

In [ ]:
for i in range(1,11,2):
    print(i,end=" ")

In [ ]:
for i in range(10,0, -1):
    print(i, end=" ")

In [ ]:
for i in [1,4,7,10]:
    print(i, end=" ")

In [ ]:
a = [1,4,7,10]
for i in a:
    print(i, end=" ")

In [ ]:
a = [1,2,3,4]
res = []
for num in a:
    res.append(num*3)
print(res,end=" ")

In [ ]:
a = [1,2,3,4]
res = [num*3 for num in a]
res

In [ ]:
a = [1,2,3,4]
res = [num*3 for num in a if num % 2 == 0]
res

In [ ]:
a = [1,2,3,4]
res = []
for num in a:
    if num % 2 == 0:
        res.append(num*3)
print(res,end=" ")

In [ ]:
i = 0
while True:
    i += 1
    if i > 5: break
    print("*"*i)

In [ ]:
for i in range (1,6):
    if i > 5: break
    print("*"*i)

In [ ]:
i = 0
while True:
    i+=1
    if i>5: break
    for j in range(i):
        print("*", end="")
    print("")

In [ ]:
for i in range(1,101):
    print(i)

In [ ]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average= total/ len(A)
print(average)

In [16]:
i = 60
while i >= 0:
    print(i , end=" ")
    i -= 1
print("\n발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사!

In [15]:
for i in range(60,-1,-1):
    print(i , end="   ")
    if(i == 0):
        print("\n발사!")

60   59   58   57   56   55   54   53   52   51   50   49   48   47   46   45   44   43   42   41   40   39   38   37   36   35   34   33   32   31   30   29   28   27   26   25   24   23   22   21   20   19   18   17   16   15   14   13   12   11   10   9   8   7   6   5   4   3   2   1   0
발사!

In [21]:
for i in range(1,10):
    for j in range(1,10):
        print(i * j, end=" ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [38]:
for i in range(1,8):
    for j in range(1,8):
        if i >= j:
            print(j, end="")
        else:
            print("*",end="")
    print("")

1******
12*****
123****
1234***
12345**
123456*
1234567

In [39]:
num = int(input("몇 개?"))
for hang in range(1,num+1):
    for yol in range(1, hang+1):
        print(yol,end=" ")
    for yol in range(1, num+1-hang):
        print("*", end=" ")
    print("")

몇 개?7
1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7