In [1]:
import pandas as pd
import numpy as np
string_data = pd.Series(["a","b",np.nan,"d"])
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [2]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [3]:
from numpy import nan as NA
data = pd.DataFrame([ [1, 6.5, 3],[1, NA, NA],
                     [NA, NA, NA],[NA, 6.5, 3] ])
cleaned_data1 = data.dropna()
cleaned_data1

cleaned_data2 = data.dropna(how='all')
cleaned_data2

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [4]:
df2 = df.fillna(0)
df2
df.fillna(0, inplace=True)

NameError: name 'df' is not defined

In [5]:
dic_data = {"k1":['one', 'two', 'one', 'two', 'one', 'two', 'two'],
            "k2":[1, 1, 2, 3, 3, 4, 4]}
data = pd.DataFrame(dic_data)
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = [0, 1, 2, 3, 4, 5, 6]
data.drop_duplicates(['k1'])

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep="last")

In [ ]:
ages = [ 20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins = [18,25,35, 60, 100]

In [ ]:
cats = pd.cut(ages, bins)
cats

In [ ]:
pd.value_counts(cats)

In [6]:
import re
text = "foo bar\t baz \tqux"
print(text)

foo bar	 baz 	qux

In [ ]:
re.split('\s+', text)

In [ ]:
text = """Dave dave@google.com
Steve steve@google.com
Rob rob@google.com
Ryan ryan@google.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}'
re1 = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
re1.findall(text)

In [ ]:
data = pd.Series(np.random.randn(9),
                index=['a','a','a', 'b','b', 'c','c', 'd','d'])
data

In [ ]:
data = pd.Series(np.random.randn(9),
                index=[['a','a','a', 'b','b', 'c','c', 'd','d'],
                       [ 1,  2,  3,   1,  2,   1,  2,   1,  2]])
data

In [ ]:
data['b']

In [ ]:
data.loc[['b','d']]

In [ ]:
data.loc['b',2]

In [ ]:
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'], 'data1':[0, 1, 2, 3, 4, 5, 6]}) 
df2 = pd.DataFrame({'key':['a','b','d'], 'data2':[0, 1, 2]})

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='key')

In [ ]:
df3 = pd.DataFrame({'l_key':['b','b','a','c','a','a','b'], 'data1':[0, 1, 2, 3, 4, 5, 6]}) 
df4 = pd.DataFrame({'r_key':['a','b','d'], 'data2':[0, 1, 2]})

In [ ]:
pd.merge(df3, df4, left_on="l_key",
        right_on="r_key")

In [ ]:
arr = np.arange(12).reshape((3,4))
arr

In [ ]:
np.concatenate([arr, arr], axis=0)

In [ ]:
np.concatenate([arr, arr], axis=1)

In [ ]:
s1 = pd.Series([0,1], index=["a",'b'])
s2 = pd.Series([2, 3, 4], index=["c",'d', 'e'])
s3 = pd.Series([5,6], index=["f",'g'])
print(s1);print(s2);print(s3);

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
pd.concat([s1, s2, s3], axis=1)

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a','b','c','d'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b','d','a'])

In [ ]:
pd.concat([df1, df2])

In [ ]:
pd.concat([df1, df2], ignore_index=True)

In [ ]:
rng = pd.date_range('2000-01-01', periods=12, freq="T")
rng

In [ ]:
ts = pd.Series(np.arange(12), index=rng)
ts

In [ ]:
ts.resample('5min', closed='right').sum()

In [ ]:
ts.resample('5min', closed='right').mean()

In [ ]:
frame = pd.DataFrame(np.random.randn(2,4), 
        index=pd.date_range("1/1/2000", periods=2, freq='W-WED'),
                    columns=["a","b","c","d"])
frame

In [ ]:
df_daily=frame.resample('D').asfreq()
df_daily

In [ ]:
df_daily.interpolate(method='values')

In [ ]:
close_px_all = pd.read_csv('examples/stock_px_2.csv', parse_dates=True, index_col=0)
close_px = close_px_all[["AAPL", "MSFT", "XOM"]]
close_px

In [ ]:
close_px.AAPL.plot()

In [ ]:
close_px.AAPL.rolling(1).mean().plot()

In [ ]:
close_px.AAPL.rolling(10).mean().plot()

In [ ]:
close_px.AAPL.rolling(100).mean().plot()

In [ ]:
path = "datasets/bitly_usagov/example.txt"
open(path).readline()

In [7]:
import json
path = "C:/Users/CPB06GameN/Desktop/pydata-book-2nd-edition/datasets/bitly_usagov/example.txt"
records = [json.loads(line) for line in open(path, 'rt', encoding="UTF-8")]
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1331923247,
 'hc': 1331822918,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}

In [8]:
records[1]

{'a': 'GoogleMaps/RochesterNY',
 'c': 'US',
 'nk': 0,
 'tz': 'America/Denver',
 'gr': 'UT',
 'g': 'mwszkS',
 'h': 'mwszkS',
 'l': 'bitly',
 'hh': 'j.mp',
 'r': 'http://www.AwareMap.com/',
 'u': 'http://www.monroecounty.gov/etc/911/rss.php',
 't': 1331923249,
 'hc': 1308262393,
 'cy': 'Provo',
 'll': [40.218102, -111.613297]}

In [9]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]
time_zones[:10]

['America/New_York',
 'America/Denver',
 'America/New_York',
 'America/Sao_Paulo',
 'America/New_York',
 'America/New_York',
 'Europe/Warsaw',
 '',
 '',
 '']

In [10]:
def get_counts(seq):
    counts={}
    for x in seq:
        if x in counts:
            counts[x]+=1
        else:
            counts[x] = 1
    return counts

In [11]:
counts = get_counts(time_zones)
counts["America/New_York"]

1251

In [12]:
len(time_zones)

3440

In [13]:
frame = pd.DataFrame(records)
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB

In [14]:
frame['tz'][:10]

0     America/New_York
1       America/Denver
2     America/New_York
3    America/Sao_Paulo
4     America/New_York
5     America/New_York
6        Europe/Warsaw
7
8
9
Name: tz, dtype: object

In [15]:
tz_counts = frame['tz'].value_counts()
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

In [16]:
clean_tz = frame['tz'].fillna("Missing")
clean_tz[clean_tz ==""] = "Unknown"
tz_counts = clean_tz.value_counts()
tz_counts[:10]

America/New_York       1251
Unknown                 521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Missing                 120
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
Name: tz, dtype: int64

In [ ]:
import seaborn as sns

In [ ]:
subset = tz_counts[:10]
sns.barplot(y=subset.index, x = subset.values)